@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
/* ボタン */
.button {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    font-weight: bold;
}

.button-ham {
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    font-weight: bold;
}

.button-icon {
    position: absolute;
    top: 46%;
    right: 1.75rem;
    line-height: 1;
    transform: translate(0%, -50%);
}

.button-icon-ham {
    position: absolute;
    top: 46%;
    right: 1.75rem;
    line-height: 1;
    transform: translate(0%, -50%);
}

.button-pink-ghost-icon-ham {
    position: absolute;
    top: 46%;
    right: 0.95em;
    line-height: 1;
    transform: translate(0%, -50%);
    font-size: 1.7rem;
}

@media (min-width: 768px) {
    .button-icon {
        top: 50%;
        right: 1.25rem;
    }
}

/* ピンク色ボタン */
.button-pink-ghost {
    width: 17.5rem;
    font-size: 1.25rem;
    background-color: #f11f8d;
    padding-left: 0.15rem;
    height: 3.75rem;
    padding-top: 0.7rem;
    letter-spacing: 0rem;
    transition: all 0.3s ease;
}

.button-pink-ghost-ham {
    width: 17.4rem;
    font-size: 1.17rem;
    background-color: #f11f8d;
    padding-left: 0.15rem;
    height: 3.7rem;
    padding-top: 0.7rem;
    margin: auto;
    position: relative;
    align-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .button-pink-ghost {
        width: 19.75rem;
        font-size: 1.25rem;
        background-color: #f11f8d;
        padding-left: 0.15rem;
        height: 3.7rem;
        left: 2.1rem;
        padding-top: 0.7rem;
        letter-spacing: 0rem;
        transition: all 0.3s ease;
    }
} 

/*ボタン上の矢印*/
.button-pink-ghost-icon {
    font-size: 1.7rem;
    left: 14.8rem;
    transform: translate(0%, -45%);
}

@media (min-width: 768px) {
    .button-pink-ghost-icon {
    font-size: 1.5875rem;
    left: 17.2rem;
    transform: translate(0%, -45%);
    }
}

/*ホバー時の変化*/
.button-pink-ghost:hover {
    background-color: #fff;
    color: #f11f8d;
    border: 2px solid #f11f8d;
}

@media (min-width: 768px) {
    .button-pink-ghost:hover {
        background-color: #fff;
        color: #f11f8d;
        border: 2px solid #f11f8d;
    }
}

.button-pink-ghost:hover .button-pink-ghost-icon {
    color: #f11f8d;
}

@media (min-width: 768px) {
    .button-pink-ghost:hover .button-pink-ghost-icon {
        color: #f11f8d;
    }    
}

/* コンテナ */
.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 67.5rem;
    margin: auto;
}

/* セクションタイトル */
.section-title {
    margin-bottom: 2.5rem;
    font-size: 1.5875rem;
    text-align: center;
    color: #000;
}

/* タイトル下の線 */
.section-title::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.1rem;
    background-color: #0079f2;
    margin: 0.5rem auto 2rem;
}

@media (min-width: 768px) {
    .section-title::after {
        content: '';
        display: block;
        width: 2.2rem;
        height: 0.1rem;
        background-color: #0079f2;
        margin: 0.6rem auto 2rem;
    }
    
}

/* ヘッダー
------------------------------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.05rem;
    padding: 1.512rem 1.95rem 1.187rem;
    background-color: #0079f2;
    margin: 0.5rem;
    border-radius: 2.5rem;
    width: 95.98%;
}

@media (min-width: 768px) {
    .header {
        padding-top: 0.937rem;
        padding-bottom: 4.062rem;
        margin-top: 1rem;
        width: 98.8%;
    }
}

/* ロゴ */
.header-logo {
    line-height: 2;
    font-size: 0.6rem;
}

@media (min-width: 768px) {
    .header-logo {
        padding-left: 0.6rem;
        padding-top: 3.5rem;
    }
}

.header-logo img {
    vertical-align: baseline;
    width: 81.8%;
    height: auto;
}

@media (min-width: 768px) {
    .header-logo img {
    vertical-align: baseline;
    width: 100%;
    height: auto;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    position: fixed;
    top: 1.8rem;
    right: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PC表示のときにハンバーガーボタンを非表示に */
@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button-bar {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #fff;
    margin: 0.17rem;
}

/* ハンバーガーメニュー
------------------------------------------ */
@media (max-width: 767.9px) {
    .hamburger-menu {
    position: fixed;
    top: 5.35rem;
    width: calc(100% - 0.8rem);
    height: 523px;
    padding: 0.8rem;
    background-color: #0079f2;
    border-radius: 1.9rem;
    text-align: center;
    left: 0.4rem;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    }
}

/* ヘッダーナビコンテナ */
@media (min-width: 768px) {
    .header-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

  /* 開いている状態 */
.hamburger-menu-active {
    visibility: visible;
    opacity: 1;
}

/* ナビゲーション
------------------------------------------ */
/* コース案内など */
.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.43rem;
    margin-bottom: 2.4rem;
    line-height: 1;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2.1rem;
}

@media (min-width: 768px) {
    .hamburger-menu-list {
        display: flex;
        flex-direction: row;
        gap: 2.3125rem;
        margin: 0;
        padding-top: 2.7rem;
        list-style: none;
        padding-right: 0.4rem;
        flex-wrap: nowrap; /* 折り返しを防ぐ */
        gap: clamp(1rem, 3vw, 2.3125rem);
    }
}

.hamburger-menu-list a {
    color: #fff;
}

@media (min-width: 768px) {
.hamburger-menu-list a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: bold;
    }
}

/* SNSリンク */
.hamburger-sns {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.2rem;
}

.hamburger-sns a {
    font-size: 2rem;
    color: #fff;
}

/* PC表示のときにヘッダーナビを非表示に */
@media (min-width: 768px) {
    .hamburger-sns,
    .button-pink-ghost-ham,
    .button-ham {
        display: none;
    }
}

/* カバー
------------------------------------------ */
.cover-slick-item img {
    display: block;
    width: 92.62%;
    height: auto;
    border-bottom-left-radius: 6.1rem;
    margin-left: auto;
}

@media (min-width: 768px) {
    .cover-slick-item img {
        display: block;
        width: 82.72%;
        height:auto;
        border-bottom-left-radius: 9.5rem;
        margin-left: auto;
    }
}

/* ピックアップ */
.cover-pickup {
    position: absolute;
    bottom: 0.3rem;
}

.cover-line-first {
    background-color: rgba(242, 242, 235, 0.8);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: bold;
    padding-bottom: 0.45rem;
    padding-top: 0.25rem;
    padding-left: 1.1rem;
    margin-left: 1.7rem;
    margin-right: 1.6rem;
    justify-content: center;
    letter-spacing: -0.07rem;
    max-width: 13rem;
    width: 100%;
    height: 3.375rem;
}

@media (min-width: 768px) {
    .cover-line-first {
        background-color: rgba(242, 242, 235, 0.8);
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-weight: bold;
        padding-bottom: 0.1rem;
        padding-top: 0.05rem;
        padding-left: 1.1rem;
        margin-right: 1.6rem;
        justify-content: center;
        letter-spacing: -0.065rem;
        position: relative;
        bottom: 8.3rem;
        left: 7.7rem;
        max-width: 22.9375rem;
        width: 100%;
        height: 5.4375rem;
    }
}

.cover-line-second {
    background-color: rgba(242, 242, 235, 0.8);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: bold;
    padding-right: 0.75rem;
    padding-top: 0.7rem;
    margin-top: 0.4rem;
    padding-left: 1rem;
    letter-spacing: 0.01rem;
    height: 2.6rem;
    word-spacing: -0.2rem;
    padding-bottom: 3rem;
    margin-left: 1.7rem;
    max-width: 13rem;
    width: 100%;
    height: 3.375rem;
}

@media (min-width: 768px) {
    .cover-line-second {
        background-color: rgba(242, 242, 235, 0.8);
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-weight: bold;
        padding-right: 1.55rem;
        padding-top: 0.7rem;
        margin-top: 0rem;
        padding-left: 1rem;
        letter-spacing: 0.01rem;
        word-spacing: 0.4rem;
        padding-bottom: 4.8rem;
        margin-left: 1.8rem;
        position: relative;
        bottom: 7.3rem;
        left: 7.7rem;
        max-width: 22.8rem;
        width: 100%;
        height: 5.4375rem;
    }
}

/* 色・大きさ指定 */
.cover-line-black {
    font-size: 1.3rem;
    color: #000;
}

@media (min-width: 768px) {
    .cover-line-black {
        font-size: 2.25rem;
        color: #000;
    }    
}

.cover-line-orange.text-poppins {
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 800;
    letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
    .cover-line-orange.text-poppins {
        font-size: 2.25rem;
        font-family: 'Poppins Extrabold';
        letter-spacing: -0.02rem;
    }    
}

.cover-line-black.text-poppins {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

@media (min-width: 768px) {
    .cover-line-black.text-poppins {
        font-size: 2.25rem;
        font-family: 'Poppins Extrabold';
        letter-spacing: -0.05rem;
    }    
}

.cover-line-orange {
    font-size: 1.3rem;
    color: #f26618;
}

@media (min-width: 768px) {
    .cover-line-orange {
        font-size: 1.3rem;
        color: #f26618;
    }    
}

.cover-line-orange.text-large {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .cover-line-orange.text-large {
        font-size: 2.75rem;
    }    
}

.cover-line-yellow {
    font-size: 1.3rem;
    color: #f2a118;
}

@media (min-width: 768px) {
    .cover-line-yellow {
        font-size: 2.375rem;
        color: #f2a118;
    }    
}

.cover-line-yellow.text-large {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .cover-line-yellow.text-large {
        font-size: 2.75rem;
    }    
}

.cover-line-green {
    font-size: 1.3rem;
    color: #46c017;
}

@media (min-width: 768px) {
    .cover-line-green {
        font-size: 2.3rem;
        color: #46c017;
    }    
}

.cover-line-green.text-large {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .cover-line-green.text-large {
        font-size: 3rem;
    }    
}

/* slick-dots
------------------------------------------ */
.slick-dots {
    position: absolute !important;
    bottom: -2rem;
}

@media (min-width: 768px) {
    .slick-dots {
        display: flex;
        justify-content: flex-end;
        transform: translateY(0.4rem);
        margin: 0 auto;
        padding-right: 1.5rem;
    }    
}

.slick-dots li button:before {
    font-size: 0.5rem;
}

/* カバー（お問い合わせ）
------------------------------------------ */
.cover-free {
    margin-top: 3.6rem;
    margin-bottom: 2.6rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .cover-free {
        margin-top: 3.4rem;
        margin-bottom: 2.6rem;
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 0.2rem;
    }
}

/* 説明 */
.cover-free-text .cover-intro-first {
    margin: 0rem auto;
    line-height: 1.65;
    color: #333;
    letter-spacing: 0rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-intro-first {
        margin: 0.25rem auto;
        line-height: 1.55;
        color: #333;
        letter-spacing: 0rem;
    }
}

.cover-free-text .cover-intro-second {
    color: #333;
    letter-spacing: 0rem;
    margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-intro-second {
        color: #333;
        letter-spacing: 0rem;
        margin-bottom: 1.52rem;
    }
}

.cover-free .button-pink-ghost {
    left: -0.1rem;
}

@media (min-width: 768px) {
    .cover-free .button-pink-ghost {
        left: -0.1rem;
    }
}

/* キャンペーン
------------------------------------------ */
.campaign {
    display: flex;
    flex-direction: column;
    background-color: #f2f8fe;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 0.8rem;
}

@media (min-width: 768px) {
    .campaign {
        display: flex;
        flex-direction: row;
        background-color: #f2f8fe;
        align-items: center;
        justify-content: center;
        margin-top: 4.6rem;
        padding-bottom: 3.4rem;
        column-gap: 0.8rem;
        flex-wrap: wrap;
    }
    
}

.campaign-box {
    display: flex;
    flex-direction: column;
    padding-top: 0.3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    align-items: center;
}

@media (min-width: 768px) {
    .campaign-box {
        display: flex;
        flex-direction: column;
        padding-top: 0.3rem;
        padding-left: 0.6rem;
        align-items: center;
        padding-right: 1.2rem;
    }
}

/* 親ラッパ */
.campaign-rank-wrap {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .campaign-rank-wrap {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-top: 2.45rem;
        padding-left: 0.1rem;
        padding-right: 1.1rem;
        margin-top: 0rem;
    }
}

/* 両葉っぱ */
.rank-double-leaf {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 画像サイズ */
.rank-double-leaf img {
    height: 7.0625rem;
}

@media (min-width: 768px) {
    .rank-double-leaf img {
        height: 10.3125rem;
    }
    
}

/* ランキング */
.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .ranking {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5rem 0;
        line-height: 1.5;
    }
}

/* テキスト */
.rank-text p {
    margin: 0;
    line-height: 1.3;
}

@media (min-width: 768px) {
    .rank-text p {
        margin: 0;
        line-height: 1.5;
    }    
}

.pr-text {
    color: #555;
    font-weight: bold;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .pr-text {
        color: #555;
        font-weight: bold;
        font-size: 1rem;
        padding-right: 0rem;
    }
}

.pr-text2 {
    color: #333;
    font-weight: bold;
    font-size: 0.8125rem;
    padding: 0.3rem 0;
}

@media (min-width: 768px) {
    .pr-text2 {
        color: #333;
        font-weight: bold;
        font-size: 1.25rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

.pr-text3 {
    color: #333;
    font-weight: bold;
    font-size: 0.8125rem
}

@media (min-width: 768px) {
    .pr-text3 {
        color: #333;
        font-weight: bold;
        font-size: 1.25rem;
    }
}

.rank-no {
    margin-top: -0.8rem;
}

@media (min-width: 768px) {
    .rank-no p {
        margin: 0;
        line-height: 1.4;
        display: inline-flex;
    }
}    

/* No.1と※1部分 */
.rank-no1 {
    color: #f26618;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Poppins Extrabold' !important;
    font-style: italic;

}

@media (min-width: 768px) {
    .rank-no1 {
        color: #f26618;
        font-weight: bold;
        font-size: 2.5rem;
        font-family: 'Poppins';
        font-style: italic;
        padding-left: 0.7rem;
        font-family: 'Poppins Extrabold' !important;
    }
}

.rank-no2 {
    color: #f2a118;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Poppins Extrabold' !important;
}

@media (min-width: 768px) {
    .rank-no2 {
        color: #f2a118;
        font-weight: bold;
        font-size: 2.5rem;
        font-family: 'Poppins';
        font-style: italic;
        padding-left: 0.8rem;
        font-family: 'Poppins Extrabold' !important;
    }
}    

.rank-no3 {
    color: #f26618;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Poppins Extrabold' !important;
}

@media (min-width: 768px) {
    .rank-no3 {
        color: #f26618;
        font-weight: bold;
        font-size: 3.75rem;
        font-style: italic;
        font-family: 'Poppins Extrabold' !important;
    }
}    

.rank-no4 {
    color: #f2a118;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Poppins Extrabold' !important;
}

@media (min-width: 768px) {
    .rank-no4 {
        color: #f2a118;
        font-weight: bold;
        font-size: 3.75rem;
        font-style: italic;
        letter-spacing: 0rem;
        font-family: 'Poppins Extrabold' !important;
    }
}    

.rank-warning {
    color: #8b8d8f;
    font-size: 0.625rem;
}

@media (min-width: 768px) {
    .rank-warning {
        color: #8b8d8f;
        font-size: 0.75rem;
    }
}

.rank-note {
    color: #666666;
    font-size: 0.75rem;
    flex-direction: column;
    letter-spacing: 0rem;
}

@media (min-width: 768px) {
    .rank-note {
        color: #666666;
        font-size: 0.7rem;
        flex-direction: column;
        letter-spacing: 0.04rem;
        padding-right: 13.7rem;
        margin-top: 0.1rem;
    }
}

/* 期間限定 */
.campaign-limited {
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .campaign-limited {
        flex-direction: row;
        padding-bottom: 1.9rem;
        padding-left: 0.6rem;
        padding-right: 1rem;
    }
}

.campaign-limited-title {
    font-size: 1.25rem;
    color: #f11f8d;
    font-weight: bold;
    position: relative;
}

@media (min-width: 768px) {
    .campaign-limited-title {
        font-size: 1.5rem;
        color: #f11f8d;
        font-weight: bold;
        position: relative;
    }
    
}

.campaign-limited-title::before,
.campaign-limited-title::after {
    content: '';
        position: absolute;
        width: 1.8rem;
        height: 0.15rem;
        background-color: #f11f8d;
        top: 57.3%;
        transform: translateY(50%) rotate(60deg);
}


@media (min-width: 768px) {
    .campaign-limited-title::before,
    .campaign-limited-title::after {
        content: '';
        position: absolute;
        width: 1.9rem;
        height: 0.15rem;
        background-color: #f11f8d;
        top: 44.6%;
        left: 67.2%;
        transform: translateY(50%) rotate(60deg);
}
}

.campaign-limited-title::before {
    left: 5.6rem;
}

@media (min-width: 768px) {
    .campaign-limited-title::before {
        left: 5.3rem;
    }    
}

.campaign-limited-title::after {
    right: 5.5rem;
    transform: translateY(-50%) rotate(-60deg);
}

@media (min-width: 768px) {
.campaign-limited-title::after {
    left: 14.5rem;
    transform: translateY(-50%) rotate(-60deg);
}
}

/* 白色ボタン */
.button-white-ghost {
    background-color: #fff;
    color: #f11f8d;
    padding-top: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.15rem solid #f11f8d;
    width: 19.9rem;
    letter-spacing: 0.05rem;
    height: 3.75rem;
    text-align: center;
    display: inline-block;
    padding-left: 1.7rem;
    margin-top: 0.3rem;
}

@media (min-width: 768px) {
    .button-white-ghost {
        background-color: #fff;
        color: #f11f8d;
        padding-top: 1rem;
        border-radius: 2.4rem;
        font-weight: bold;
        font-size: 1.4rem;
        border: 0.15rem solid #f11f8d;
        margin-top: 0.3rem;
        width: 21.75rem;
        letter-spacing: 0.05rem;
        height: 4.75rem;
        text-align: center;
        display: inline-block;
    }
}

.button-white-ghost-icon {
    position: relative;
    left: 1.4rem;
    top: 0.4rem;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .button-white-ghost-icon {
        position: relative;
        left: 1.1rem;
        top: 0.1rem;
        font-size: 1.8rem;
    }
}

/* ホバー時のスタイル */
.button-white-ghost:hover {
    background-color: #f11f8d;
    color: #fff;
    border-color: #f11f8d;
}

@media (min-width: 768px) {
    .button-white-ghost:hover {
        background-color: #f11f8d;
        color: #fff;
        border-color: #f11f8d;
    }
}

.button-white-ghost:hover .button-white-ghost-icon {
    color: #fff;
}

@media (min-width: 768px) {
    .button-white-ghost:hover .button-white-ghost-icon {
        color: #fff;
    }    
}

/* コース案内
------------------------------------------ */
.course {
    background-color: #fff;
}

.course .container {
    padding-top: 4.45rem;
}

@media (min-width: 768px) {
    .course .container {
        padding: 5.85rem 0 5.7rem;
        margin-bottom: 0.3rem;
    }
}

.course .section-title {
    margin-bottom: 1.5875rem;
    color: #000;
}

@media (min-width: 768px) {
    .course .section-title {
        margin-bottom: 2.65rem;
    }
}

/* タブ */
.st-theme-basic {
    border: none;
    margin: 0 1.1rem;
}

@media (min-width: 768px) {
    .st-theme-basic {
            border: none;
            margin: 0rem auto;
    }
}

/* タブナビゲーション */
.tab.st > .nav {
    column-gap: 0.45rem;
    flex-direction: row !important;
}

@media (min-width: 768px) {
.tab.st > .nav {
    column-gap: 1.55rem;
    flex-direction: row !important;
}
}

.tab.st-theme-basic > .nav {
    box-shadow: none;
}

@media (min-width: 768px) {
.tab.st-theme-basic > .nav {
    box-shadow: none;
    }
}

.tab.st-theme-basic > .nav .nav-link {
    padding-top: 1.3rem;
    padding-bottom: 1.55rem;
    line-height: 1;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 0.6rem 0.6rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 0.8rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .nav .nav-link {
            font-size: 1.625rem;
            padding-bottom: 1.75rem;
            padding-top: 1.5rem;
            padding-right: 0.9rem;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic > .nav .nav-link.active {
    color: #fff !important;
    background-color: #f2a118;
}

.tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ*/
.tab-content-wrapper {
    background-color: #ffedcc;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .tab-content-wrapper {
        border-radius: 0 0 0.55rem 0.55rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.tab-content {
    text-align: center;
    background-color: #fff;
    border-radius:0.5rem;
    height: auto !important;
    padding-bottom: 0.8rem;
}

@media (min-width: 768px) {
    .tab-content {
        text-align: center;
        border-radius: 0 0 0.45rem 0.45rem;
        background-color: #fff;
        border: solid 0.1rem #ffedcc;
        height: auto !important;
        padding-bottom: 0rem;
    }
}

.tab.st-theme-basic > .tab-content > .tab-pane {
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 1.55rem 1.55rem 0.85rem 1.55rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .tab-content > .tab-pane {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 3.75rem 2.25rem;
    }
}

@media (min-width: 768px) {
    .tab-pane.flex {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.6rem;
    }
}

/* 画像 */
.course-tab-content-item {
    margin-bottom: 0.3rem;
    padding-top: 1.5rem;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

@media (min-width: 768px) {
.course-tab-content-item {
    padding-top: 1.55rem;
    padding-right: 0rem;
    padding-left: 0rem;
}
}

.course-img {
    border-radius: 0.4rem;
    max-width: 98.8%;
}

@media (min-width: 768px) {
    .course-img {
        border-radius: 0.4rem;
    }    
}


/* タイトル */
.course-tab-content-title {
    margin-top: 0.15rem;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .course-tab-content-title {
        margin-top: 0.7rem;
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
}

.course-box-first {
    padding-bottom: 0.1rem !important;
    line-height: 2.3rem;
}

.course-box-second {
    line-height: 2.38rem;
}

.course-box-third {
    line-height: 2.3rem;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}

.course-box-fourth {
    padding-top: 0.1rem !important;
    line-height: 1.9rem;
    padding-bottom: 0.6rem !important;
}

.course-box-fifth {
    line-height: 2.25rem;
    padding-top: 0rem !important;
    padding-bottom: 0.5rem !important;
}

.course-box-sixth {
    line-height: 1.7rem;
    padding-bottom: 0.5rem !important;
    padding-top: 0.4rem !important;
    letter-spacing: 0rem;
}

@media (min-width: 768px) {
    .course-box-first {
        padding-top: 0.4rem !important;
        line-height: 2.1rem;
        padding-bottom: 0.7rem !important;
        padding-left: 0.5rem !important;
    }
    
    .course-box-second {
        line-height: 2.08rem;
        padding-bottom: 0.6rem !important;
        padding-top: 0.3rem !important;
        padding-left: 0.2rem !important;
    }
    
    .course-box-third {
        line-height: 2.1rem;
        padding-left: 0.5rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.4rem !important;
    }
    .course-box-fourth {
        padding-top: 0.4rem !important;
        line-height: 2.1rem;
        padding-bottom: 0.7rem !important;
        padding-left: 0.5rem !important;
    }
    
    .course-box-fifth {
        line-height: 2.25rem;
        padding-top: 0.3rem !important;
        padding-bottom: 0.6rem !important;
        padding-left: 0.5rem !important;
    }
    
    .course-box-sixth {
        line-height: 3.3rem;
        padding-bottom: 0rem !important;
        padding-top: 0.75rem !important;
        padding-left: 0.3rem !important;
    }
}


/* コメント */
.course-tab-content-text {
    font-size: 1rem;
    letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
    .course-tab-content-text {
        font-size: 1.125rem;
}
}

/* お問い合わせ3
------------------------------------------ */
.cover-free.cover-free-second {
    background-color: #f2f8fe;
    margin-top: 0rem !important;
    padding-top: 1.1rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .cover-free.cover-free-second {
        background-color: #f2f8fe;
        padding-top: 2rem;
        padding-bottom: 2.65rem;
    }        
}

.cover-free-second .cover-free-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .cover-free-second .cover-free-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}

.cover-free-text .cover-online-first {
    line-height: 2;
    color: #333;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.35rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-online-first {
        line-height: 1.2;
        color: #333;
        letter-spacing: 0.045rem;
        font-size: 1.2rem;
        padding-right: 0.0rem;
        padding-bottom: 0.45rem;
    }    
}

.cover-free-text .cover-online-second {
    color: #333;
    letter-spacing: 0.01rem;
    margin-bottom: 1.15rem;
    font-size: 1rem;
    padding-right: 0.4rem;
}

@media (min-width: 768px) {
.cover-free-text .cover-online-second {
    color: #333;
    letter-spacing: 0.055rem;
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    padding-right: 0rem;
    }
}


/* 3つの特徴セクションのデザイン例
---------------------------------- */
.features {
    padding: 1.6rem 1rem 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .features {
        padding-top: 2rem;
        margin-bottom: 1.45rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
}

.section-title.features-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #000;
}

@media (min-width: 768px) {
    .section-title.features-title {
        text-align: center;
        font-size: 2.25rem;
        margin-top: 1.35rem;
    }
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: clamp(22.3125rem, 90vw, 64.75rem);
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .features-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.35rem;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 1.9rem;
        max-width: 64.75rem;
        width: 100%;
        text-align: center;
    }
}

.feature-item {
    flex: 1 1 clamp(280px, 90vw, 540px);
    max-width: 360px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
    .feature-item {
        display: flex;
        max-width: 1080px;
        background-color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .feature-item:nth-child(1) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.8rem;
        margin-top: 0.5rem;
        margin-left: -0.3rem;
        max-height: 23.0625rem;
    }
    
    .feature-item:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        max-height: 23.0625rem;
    }
    
    .feature-item:nth-child(3) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.8rem;
        margin-top: 0.2rem;
        margin-right: 0.3rem;
        max-height: 23.0625rem;
    }
}

.feature-image {
    width: 100%;
    display: block;
    border-radius: 0.4rem;
}

@media (min-width: 768px) {
    .feature-image {
        height: auto;
        border-radius: 0.5rem;
        width: 493px;
    }
}

.feature-img-wrapper {
    opacity: 0;
}

.feature-img-wrapper.animate__fadeInLeft,
.feature-img-wrapper.animate__fadeInRight {
  opacity: 1;
}

.feature-text {
    margin-bottom: 0.9rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .feature-text {
        text-align: left;
        width: 33.2rem;
    }
}

.feature-number {
    font-size: 3.75rem;
    color: #46c017;
    font-family: 'Poppins Extrabold';
    font-style: italic;
    text-align: left;
    line-height: 1;
    margin-top: 0.6rem;
    font-weight: 800;
}

@media (min-width: 768px) {
.feature-number {
    font-size: 5rem;
    color: #46c017;
    font-family: 'Poppins';
    font-style: italic;
    text-align: left;
    line-height: 1.1;
    margin-left: 0.1rem;
    margin-top: 0.45rem;
}
}

.feature-number-second {
    font-size: 3.75rem;
    color: #46c017;
    font-family: 'Poppins Extrabold';
    font-style: italic;
    text-align: left;
    line-height: 1;
    margin-top: 0.6rem;
    font-weight: 800;
}

@media (min-width: 768px) {
    .feature-number-second {
        font-size: 5rem;
        color: #46c017;
        font-family: 'Poppins';
        font-style: italic;
        text-align: left;
        line-height: 1.1;
        margin-left: 2.1rem;
        margin-top: 0.3rem;
    }
    }

.feature-description {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 0rem;
}

@media (min-width: 768px) {
.feature-description {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-top: 0.5rem;
    letter-spacing: -0.03rem;
    margin-right: 1rem;
}
}

.feature-description-second {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 0rem;
}

@media (min-width: 768px) {
    .feature-description-second {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        margin-top: 0.5rem;
        letter-spacing: -0.03rem;
        margin-left: 2.1rem;
    }
    }

/* お問い合わせ4
------------------------------------------ */
.cover-free-text .cover-family-first {
    line-height: 1.9;
    color: #333;
    letter-spacing: 0rem;
    font-size: 1rem;
    padding-right: 0.1rem;
    padding-top: 0.2rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-family-first {
        line-height: 2.4;
        color: #333;
        font-size: 1.25rem;
        padding-right: 0.3rem;
        line-height: 1.55;
    }
}

.cover-free-text .cover-family-second {
    color: #333;
    letter-spacing: 0.01rem;
    margin-bottom: 1.1rem;
    font-size: 1rem;
    padding-right: 0.1rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-family-second {
        color: #333;
        letter-spacing: 0.045rem;
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
        padding-right: 0.2rem;
        margin-top: 0.2rem;
        margin-bottom: 1.25rem;
}
}

/* 講師紹介
------------------------------------------ */
.teacher-introduction {
    padding-top: 2.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.4rem;
    text-align: center;
    background-color: #fff;
    margin-bottom: 3.6rem;
}

@media (min-width: 768px) {
    .teacher-introduction {
        padding-top: 3.5rem;
        text-align: center;
        background-color: #fff;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4.5rem;
    }
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #000;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }
}

/* コンテナ */
.teacher-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 768px) {
    .teacher-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.1rem;
        flex-wrap: wrap;
        width: 100%;
    }
}

  /* 各講師カード */
.teacher-card {
    background-color: #ffeee5;
    padding: 1rem 0.9rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: clamp(19.325rem, 80vw, 22.5rem);
    height: auto;
}

@media (min-width: 768px) {
    .teacher-card {
        max-width: 22.5rem;
        height: 24.625rem;
        border-radius: 8px;
        padding: 1.4375rem;
        text-align: center;
        background-color: #ffeee5;
        margin: 0;
        width: calc(50% - 1rem);
    }
}

.teacher-card:nth-child(2) {
    background-color: #fff6e5;
}

@media (min-width: 768px) {
    .teacher-card:nth-child(2) {
        background-color: #fff7e6;
    }
}

/* 画像 */
.teacher-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 0.4rem;
}

@media (min-width: 768px) {
    .teacher-image {
        width: 127px;
        height: 127px;
        border-radius: 50%;
        margin-bottom: 0.65rem;
        margin-top: 0.3rem;
    }
}

/* テキスト情報 */
.teacher-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
}

.teacher-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 0rem;
}

@media(min-width: 768px) {
    .teacher-name {
        font-size: 1.125rem;
        font-weight: bold;
        letter-spacing: 0.01rem;
    }
}

.teacher-experience {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 0.6rem;
    margin-top: 0.1rem;
}

.teacher-experience-second {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 0.75rem;
}

@media(min-width: 768px) {
    .teacher-experience {
        font-size: 0.875rem;
        color: #555;
        margin-bottom: 1rem;
        margin-top: -0.1rem;
    }
}

@media (min-width: 768px) {
    .teacher-experience-second {
        font-size: 0.875rem;
        color: #333;
        margin-bottom: 0.9rem;
    }
}

.teacher-description {
    font-size: 1rem;
    line-height: 1.75;
    color: #333;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.65rem 1.1rem;
    text-align: left;
}

@media (min-width: 768px) {
    .teacher-description {
        font-size: 1rem;
        line-height: 1.75;
        color: #333;
        padding-top: 0.6rem;
        letter-spacing: 0rem;
    }
    
}

/* お問い合わせ4
------------------------------------------ */
.cover-free-text .cover-pro-first {
    line-height: 2;
    color: #333;
    letter-spacing: 0rem;
    font-size: 1rem;
    padding-right: 0.1rem;
    padding-top: 0.2rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-pro-first {
        line-height: 1.4;
        color: #333;
        letter-spacing: 0rem;
        font-size: 1.25rem;
        padding-right: 0.1rem;
    }
}

.cover-free-text .cover-pro-second {
    color: #333;
    letter-spacing: 0rem;
    margin-bottom: 1.1rem;
    font-size: 1rem;
    padding-right: 0.1rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-pro-second {
        color: #333;
        letter-spacing: 0.04rem;
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
        padding-right: 0.1rem;
        margin-top: 0.35rem;
    }
}

/* 料金プラン
------------------------------------------ */
.pricing {
    background-color: #fff;
    text-align: center;
    padding-top: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .pricing {
        padding-top: 3.1rem;
        padding-right: 0rem;
        padding-left: 0rem;
        margin-right: auto;
        margin-left: auto;
        width: 752px;
        margin-bottom: 2.2rem;
    }
    
}

.section-title-price {
    font-size:1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
    color: #000;
}

@media(min-width: 768px) {
    .section-title-price {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 3.3rem;
        margin-top: 0.3rem;
    }
}

/* テーブル */
.pricing-table {
    width: 100%;
    table-layout: fixed;
    border: 4px solid #ddd;
    border-collapse: collapse;
}

@media (min-width: 768px) {
    .pricing-table {
        width: 100%;
        margin: 1.5rem auto;
        border-collapse: collapse;
        font-size: 0.85rem;
        border: 4px solid #ddd;
    }
    
}

.pricing-table-second {
    width: 100%;
    border-collapse: collapse;
    border: 4px solid #ddd;
}

@media (min-width: 768px) {
    .pricing-table-second {
        width: 50%;
        border-collapse: collapse;
        border: 4px solid #ddd;
        margin: 0rem auto;
    }
    
}

.pricing-table caption {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.65rem;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 0.05rem;
}

.pricing-table-second caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    text-align: left;
    letter-spacing: 0.05rem;
    margin-top: -0.5rem;
}

@media (min-width: 768px) {
.pricing-table caption {
    text-align: start;
    font-size: 1.5625rem;
    letter-spacing: 0rem;
    margin-bottom: 0.5rem;
    margin-top: -0.6rem;
    }
}

@media (min-width: 768px) {
    .pricing-table-second caption {
        font-size: 1.5625rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
        text-align: left;
        letter-spacing: 0rem;
        margin-top: 1.9rem;
    }
}

.pricing-table th:first-child,
.pricing-table td:first-child {
    width: 32.9%;
    padding-top: 0.5rem;
    padding-right: 0.6rem;
    padding-left: 0.4rem;
    padding-bottom: 0.8rem;
}

@media (min-width: 768px) {
.pricing-table th:first-child,
.pricing-table td:first-child {
    width: 31.7%;
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    padding-left: 0.4rem;
    padding-bottom: 0.6rem;
}
}

.pricing-table th, .pricing-table td {
    text-align: center;
    border: 1px solid #ddd;
    padding-top: 0.05rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    }

.pricing-table-second th, .pricing-table-second td {
    padding: 0.5rem;
    text-align: center;
    }

    @media (max-width: 768px) {
        /* 「中学生向けコース」の料金表の2列目の幅を変更 */
        .pricing table.pricing-table:nth-of-type(2) th:nth-child(2),
        .pricing table.pricing-table:nth-of-type(2) td:nth-child(2) {
            width: 40%;
        }
    
        /* 必要に応じて、1列目の幅も調整 */
        .pricing table.pricing-table:nth-of-type(2) th:nth-child(1),
        .pricing table.pricing-table:nth-of-type(2) td:nth-child(1) {
            width: 23.7%;
        }
    }

@media (min-width: 768px) {
    .pricing-table th, .pricing-table td {
        padding: 0.5rem;
        text-align: center;
        border: 1px solid #ddd;
    }
}

@media (min-width: 768px) {
    .pricing-table-second th, .pricing-table-second td {
        padding: 0.5rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .pricing-table th {
        background-color: #f7f7f7;
        font-weight: bold;
        font-size: 1.125rem;
        padding-left: 0.3rem;
        padding-bottom: 0.6rem;
        padding-top: 0.3rem;
    }
}

@media (min-width: 768px) {
    .pricing-table td {
        background-color: #fff;
        font-weight: bold;
        font-size: 1.125rem;
        padding-left: 0rem;
        padding-top: 0.5rem;
    }
}

@media (min-width: 768px) {
    .pricing-table-second th {
        background-color: #f7f7f7;
        font-weight: bold;
        font-size: 1.125rem;
        padding-left: 0.5rem;
        padding-top: 0.4rem;
    }
}

.course-description {
    margin-top: 0.2rem;
    font-size: 0.875rem;
    color: #333;
    font-weight: bold;
}

@media (min-width: 768px) {
    .course-description {
        margin: -0.0125rem 0 0.3rem;
        font-size: 1rem;
        color: #333;
        font-weight: bold;
    }
    
}

.course-description-second {
    margin: 0.15rem 0 0.3rem;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
    padding-left: 0.3rem;
}

@media (min-width: 768px){
    .course-description-second {
        margin: -0.0125rem 0 0.3rem;
        font-size: 1rem;
        color: #333;
        font-weight: bold;
        line-height: 1;
    }
    
}

.course-description-third {
    margin: 0.15rem 0 0.3rem;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
}

@media (min-width: 768px) {
    .course-description-third {
        margin: 0.15rem 0 0.3rem;
        font-size: 1rem;
        color: #333;
        font-weight: bold;
    }
    
}

.course-name-first {
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-top: 0.2rem !important;
}

@media (min-width: 768px) {
    .course-name-first {
        text-align: center;
        font-weight: bold;
        color: #0079f2;
        font-size: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.4rem;
    }
    
}

.course-name-second {
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-top: 0.4rem !important;
}

@media (min-width: 768px) {
    .course-name-second {
        text-align: center;
        font-weight: bold;
        color: #0079f2;
        font-size: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.4rem;
        padding-bottom: 0.3rem !important;
    }
    
}

.course-name-third {
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-bottom: 0.2rem !important;
    padding-top: 0rem !important;
}

@media (min-width: 768px) {
    .course-name-third {
        text-align: center;
        font-weight: bold;
        color: #0079f2;
        font-size: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.4rem;
        padding-top: 1.7rem !important;
        padding-bottom: 1.7rem !important;
    }
    
}

.course-name-fourth {
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.4rem;
}

@media (min-width: 768px) {
    .course-name-fourth {
        font-weight: bold;
        color: #0079f2;
        font-size: 1.125rem;
        padding-right: 0rem;
        padding-left: 0rem;
        padding-top: 1.8rem !important;
        padding-bottom: 1rem !important;
        height: 5.625rem;
        letter-spacing: 0.015rem;
    }
    
}

.course-name-fifth {
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.4rem;
}

@media (min-width: 768px) {
    .course-name-fifth {
        text-align: center;
        font-weight: bold;
        color: #0079f2;
        font-size: 1.125rem;
        padding-right: 0.5rem;
        padding-left: 0.4rem;
        padding-top: 2.7rem !important;
        padding-bottom: 0.5rem !important;
    }
    
}

.course-name-sixth {
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
}

@media (min-width: 768px) {
    .course-name-sixth {
        text-align: center;
        font-weight: bold;
        color: #0079f2;
        font-size: 1.125rem;
        padding-right: 0.5rem;
        padding-left: 0.4rem;
        padding-top: 3.6rem !important;
        width: 14.8125rem;
        padding-bottom: 1.9rem !important;
    }
    
}

.pricing-table .price {
    font-size: 1.5rem;
    color: #46c017;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Poppins';
    padding-left: 0.1rem;
}

@media (min-width: 768px) {
    .pricing-table .price {
        font-size: 2.25rem;
        color: #46c017;
        font-weight: bold;
        font-family: 'Poppins';
        padding-left: 0.1rem;
    }
    
}

.pricing-table-second .price {
    font-size: 1.5rem;
    color: #46c017;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Poppins';
    padding-left: 0.1rem;
}

@media (min-width: 768px) {
    .pricing-table-second .price {
        font-size: 2.25rem;
        color: #46c017;
        font-weight: bold;
        font-family: 'Poppins';
        padding-left: 0.1rem;
    }
    
}

.yen {
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .yen {
        font-size: 1rem;
    }
    
}

.table-note {
    font-size: 0.75rem;
    margin-top: 0.15rem;
    margin-bottom: 2.95rem;
}

@media (min-width: 768px) {
    .table-note {
        font-size: 0.75rem;
        text-align: start;
        margin-top: -1.3rem;
        margin-bottom: 2.4rem;
    }
    
}

.table-note-second {
    font-size: 0.75rem;
    margin-top: 0.11rem;
    margin-bottom: 3.6rem;
}

@media (min-width: 768px) {
    .table-note-second {
        font-size: 0.75rem;
        margin-top: 0.11rem;
        margin-bottom: 3.6rem;
    }
}

/* faq
------------------------------------------ */
/* faqセクション全体 */
.faq-section {
    margin: 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .faq-section {
        margin-top: 1.6rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }    
}

  /* タイトル */
.section-title-faq {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2.3rem;
    font-weight: bold;
    margin-top: 4.3rem;
    color: #000;
}

@media (min-width: 768px) {
    .section-title-faq {
        font-size: 2.25rem;
        text-align: center;
        margin-bottom: 3.1rem;
        font-weight: bold;
        margin-top: 6rem;
    }
    
}

  /* アコーディオン全体 */
.accordion {
    margin: auto;
    max-width: clamp(22.375rem, 80vw, 56.25rem);
    width: 100%;
}

@media(min-width: 768px) {
    .accordion {
        margin: 0 auto;
        max-width: 56.25rem;
        width: 100%;
    }
}

  /* 各質問+回答ボックス */
.accordion-item {
    border: 1px solid #f26618;
    border-radius: 8px;
    margin-bottom: 1.3rem;
    background-color: #fff;
    overflow: hidden;
}

@media (min-width: 768px) {
.accordion-item {
    border: 1px solid #f26618;
    border-radius: 8px;
    margin-bottom: 1.3rem;
    background-color: #fff;
    overflow: hidden;
}
}

  /* 質問部分（Qエリア） */
.accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 0.85rem;
}

@media (min-width: 768px) {
    .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    padding-top: 1.65rem;
    padding-bottom: 0.8rem;
    padding-left: 1.4rem;
    padding-right: 1rem;
    }
}

  /* 質問左側（Qアイコン + テキスト） */
.title-left {
    display: flex;
    align-items: start;
    gap: 0.8rem;
}

@media (min-width: 768px) {
    .title-left {
        display: flex;
        align-items: start;
        gap: 1.1rem;
    }
    
}

  /* 質問右側（三角アイコン） */
.title-right {
    display: flex;
    align-items: flex-start;
}

  /* 質問テキスト */
.question-text {
    font-size: 1rem;
    color: #333;
}

/* 回答部分（Aエリア） */
.accordion-content {
    display: none;
    background-color: #ffeee5;
}

/* Aアイコン＋回答テキストを横並びにするコンテナ */
.content-inner {
    display: flex;
    align-items: start;
    gap: 0.7rem;
    padding-top: 1.1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.1rem;
}

@media (min-width: 768px) {
    .content-inner {
        display: flex;
        align-items: start;
        gap: 1.5rem;
        padding-top: 1.7rem;
        padding-left: 1rem;
        padding-right: 4.1rem;
        padding-bottom: 2rem;
    }
}

  /* 回答テキスト */
.answer-text {
    font-size: 1rem;
    line-height: 1.74;
    color: #555;
}

  /* Qバッジ */
.q-badge {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #ffeee5;
    color: #f26618;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1rem;
    font-family: 'Poppins';
}

@media (min-width: 768px) {
    .q-badge {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: #ffeee5;
        color: #f26618;
        font-weight: bold;
        border-radius: 50%;
        font-size: 1.5rem;
        font-family: 'Poppins';
        position: relative;
        bottom: 0.5rem;
    }    
}

  /* Aバッジ */
.a-badge {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #f26618;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1rem;
    font-family: 'Poppins';
}

@media (min-width: 768px) {
    .a-badge {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: #f26618;
        color: #fff;
        font-weight: bold;
        border-radius: 50%;
        font-size: 1.5rem;
        font-family: 'Poppins';
        position: relative;
        left: 0.4rem;
        bottom: 0.6rem;
    }
}

  /* 三角アイコン（Bootstrap Icons） */
.accordion-icon {
    font-size: 1rem;
    color: #ee7800;
}

@media (min-width: 768px) {
    .accordion-icon {
        font-size: 1.5rem;
        color: #ee7800;
        position: relative;
        margin-top: -0.9rem;
        right: 0.25rem;
    }    
}

/* お問い合わせ5
------------------------------------------ */
.cover-free.cover-free-third {
    background-color: #f2f8fe;
    margin-top: 4.9rem;
    padding-top: 1.4rem;
    padding-bottom: 2rem;
    margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
    .cover-free.cover-free-third {
        background-color: #f2f8fe;
        margin-top: 6.1rem;
        padding-top: 1.2rem;
        padding-bottom: 2.7rem;
        margin-bottom: 0rem;
    }
}

.cover-free-third .cover-free-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .cover-free-third .cover-free-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.cover-free-text .cover-english-first {
    line-height: 1.81;
    color: #333;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    padding-right: 0.05rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-english-first {
        line-height: 2.3;
        color: #333;
        letter-spacing: 0.01rem;
        font-size: 1.25rem;
        padding-right: 0.05rem;
    }
}

.cover-free-text .cover-english-second {
    color: #333;
    letter-spacing: 0.01rem;
    margin-bottom: 1.15rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .cover-free-text .cover-english-second {
        color: #333;
        letter-spacing: 0.01rem;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        margin-top: -0.4rem;
    }    
}

/* フッター
------------------------------------------ */
/* SNSアイコン */
.footer-top {
    background-color: #000;
    height: 8rem;
}

@media (min-width: 768px) {
    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2.55rem;
}

/* social-icons ホバー時のスタイル */
.social-icon:hover {
    color: #919191;
}


.social-icon {
    color: #fff;
    font-size: 2rem;
    margin: 2.1rem 0 1rem;
}

@media (min-width: 768px) {
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 2.35rem;
    }
    
    .social-icon {
        color: #fff;
        font-size: 2rem;
        margin: 2.1rem 0 1rem;
    }
}

/* 中央ロゴ */
footer {
    background-color: #fff;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.3rem;
}

@media (min-width: 768px) {
    .footer {
    background-color: #fff;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.3rem;
    }
}

/* ロゴ部分 */
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.1rem;
    }
}

.footer-subtitle {
    font-size: 0.75rem;
    color: #0079f2;
    margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .footer-subtitle {
        font-size: 0.75rem;
        color: #0079f2;
    }
}

/* 著作権表示部分 */
.footer-bottom {
    font-size: 0.66rem;
    color: #b0b0b0;
    font-weight: bold;
    margin-top: 0.4rem;
}

@media (min-width: 768px) {
    .footer-bottom {
        text-align: center;
        margin-top: 1.1rem;
        margin-bottom: 1.6rem;
    }
}