@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
/* ピンク色ボタン */
.cover-button-pink {
    /* width: 21.875rem;
    padding-top: 1rem;
    margin-bottom: 1.275rem; */
}

.menu-pink-button {
    background-color: #ff0080;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1.275rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
.menu-pink-button {
    background-color: #ff0080;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1.275rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}
}

.button-pink-icon {
    font-size: 2rem;
    right: 1.4rem;
    transform: translate(0%, -50%);
}

@media (min-width: 768px) {
    .button-pink-icon {
        font-size: 2rem;
    right: 1.4rem;
    transform: translate(0%, -50%);
    }
}

/* 白色ボタン */
.campaign-button {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .campaign-button a {
        padding: 1rem 2rem;
        font-size: 1rem;
        background-color: #fff;
        color: #ff0080;
        border: 2px solid #ff0080;
        border-radius: 2rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.05rem;
    }
}

.campaign-btn {
background-color: #fff;
color: #ff0080;
padding: 1.1rem 4.5rem;
border-radius: 2rem;
font-weight: bold;
text-align: center;
max-width: 16rem;
font-size: 1.4rem;
}

@media (min-width: 768px) {
.campaign-btn {
background-color: #fff;
color: #ff0080;
padding: 1.1rem 4.5rem;
border-radius: 2rem;
font-weight: bold;
text-align: center;
max-width: 16rem;
font-size: 1.4rem;
}
}

.button-white-icon {
position: absolute;
right: 3.7rem;
font-size: 2rem;
margin: -0.5rem auto;
}

@media (min-width: 768px) {
.button-white-icon {
    position: absolute;
    right: 3.7rem;
    font-size: 2rem;
    margin: -0.5rem auto;
}
}

/* コンテナ */
.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 67.5rem;
    margin: auto;
}

/* セクションタイトル */
.section-title {
    margin-bottom: 2.5rem;
    font-size: 2.1875rem;
    text-align: center;
}

/* タイトル下の線 */
.section-title::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #0079f2;
    margin: 0.5rem auto 2rem;
}

/* flexbox */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Outfitフォント */
.outfit {
    font-family: Outfit, sans-serif;
}

/* 文字の太さmidium */
.medium {
    font-weight: 500;
}

/* main
------------------------------------------ */
.main {
    height: 2000px;
}

/* aタグ用
------------------------------------------ */
a {
    color: #fff;
    text-decoration: none;
}

/* ヘッダー
------------------------------------------ */
.header {
    position: sticky;
    z-index: 3000;
    display: flex;
    align-items: center;
    background-color: #0079f2;
    margin: 0.5rem;
    border-radius: 2.5rem;
    justify-content: center;
    height: 4.1rem;
}

/* ヘッダー内部 */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.9rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

/* ロゴ */
.header-logo img {
    height: 2rem;
    margin-bottom: 0.3rem;
}

/* ハンバーガーメニュー
------------------------------------------ */
/* ハンバーガーボタン */
.hamburger-button {
    background: none;
    border: none;
    width: 5.725rem;
    height: 2.825rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* ハンバーガーメニュー */
.hamburger-menu {
    position: fixed;
    top: 4.725rem;
    right: 3.25rem;
    width: calc(100% - 4.4rem);
    height: 32.6rem;
    background-color: #0079f2;
    border-radius: 1.9rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 2000;
    margin: 0.7rem;
    left: 0.4rem;
}

/* スライドイン後の位置の指定 */
.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.hamburger-menu-list {
    padding: 2.4rem 1.25rem;
    text-align: center;
    margin-bottom: -1rem;
}

.hamburger-menu-list li {
    margin-bottom: 1.5rem;
}

.hamburger-menu-list a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 3.5rem;
}

/* SNSアイコン
------------------------------------------ */
.menu-sns {
    text-align: center;
    margin-top: 3rem;
}

.menu-sns a {
    color: #fff;
    margin: 1.19rem;
    font-size: 1.9rem;
    margin-top: 1.5rem;
}

/* カバー
------------------------------------------ */
/* カバー画像 */
.cover {
    position: relative;
    transform: translateY(-5.1rem);
    left: 1.7rem;
}

@media (min-width: 768px) {
    .cover {
    position: relative;
    text-align: right;
    }
}

.cover-slick-item {
    position: relative;
}

@media (min-width: 768px) {
    .cover-slick-item {
    position: relative;
    text-align: right;
    }
}

.cover-slick-item img {
    width: 92.82%;
    height: auto;
    border-bottom-left-radius: 6.2rem;

}

@media (min-width: 768px) {
    .cover-slick-item img {
        display: block;
        width: 92.82%;
        height:auto;
    }
}

@media (min-width: 768px) {
    .cover-slick-item {
    border-bottom-left-radius: 3rem;
    }
}

/* カバー上の文字 */
.cover-pickup {
    position: absolute;
    bottom: 0.5rem;
    color: #fff;
}

.cover-line1 {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    background-color: rgba(243, 243, 243, 0.76);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: bold;
    text-align: start;
    max-width: 13rem;
    padding-left: 1.15rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}


.cover-line2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f3f3f3fd;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.4rem 1.4rem;
    margin-top: 0.3rem;
    font-weight: bold;
    text-align: start;
    padding-left: 1.2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

/* 色・大きさ指定 */
.cover-line-black {
    font-size: 1.3rem;
    color: #000;
}

.cover-line-black.text-poppins {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.cover-line-black.text-poppins {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.cover-line-orange {
    font-size: 1.3rem;
    color: #f26618;
}

.cover-line-orange.text-large {
    font-size: 1.5rem;
}

.cover-line-yellow {
    font-size: 1.3rem;
    color: #f2a118;
}

.cover-line-yellow.text-large {
    font-size: 1.5rem;
}

.cover-line-green {
    font-size: 1.3rem;
    color: #46c017;
}

.cover-line-green.text-large {
    font-size: 1.5rem;
}

/* slick-dots
------------------------------------------ */
.slick-dots {
    position: absolute !important;
    margin: -0.4rem !important;
    right: 2.2rem;
}

/* カバー（お問い合わせ）
------------------------------------------ */
.cover-below {
    /* margin: 1rem; */
}

.cover-below2 {
    padding: 2rem;
    text-align: center;
    background-color: #f2f8fe;
    height: 12.5rem;
    margin: 1rem 0 2rem;
}

@media (min-width: 768px) {
    .cover-below2 {
        padding: 1rem;
        text-align: center;
        background-color: #f2f8fe;
        height: 190px;
        margin: 2rem auto;
    }
}

.cover-intro-text .cover-intro {
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    text-align: center;
}

.cover-intro-text .cover-intro2 {
    margin: 0 0 1.8rem;
    font-size: 1.13rem;
    line-height: 1.8;
    color: #333;
    text-align: center;
}

.cover-cta {
    margin-bottom: 2rem;
}

.cover-button-intro {
    margin-top: 1.9rem;
}

/* キャンペーン
------------------------------------------ */
.campaign {
    background-color: #eef6ff;
    text-align: center;
    max-height: 20.2rem;
}

@media (min-width: 768px) {
    .campaign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    
}

.campaign-box {
    display: inline-block;
    padding: 1.5rem;
}

/* 親ラッパ */
.campaign-rank-wrap {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .campaign-rank-wrap {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}

/* 両葉っぱ */
.rank-double-leaf {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 画像サイズ */
.rank-double-leaf img {
    height: 7.1rem;
}

/* ランキング */
.ranking {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 0.5rem;
}

/* テキスト */
.rank-text p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.8rem;
    flex-direction: column;

}

.pr-text {
    color: #555;
    font-weight: bold;
}

.pr-text2 {
    color: #333;
    font-weight: bold;
}

.rank-no p {
    margin: 0;
    line-height: 1.4;
    display: inline-flex;
}

/* No.1と※1部分 */
.rank-no {
    color: #f26618;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.rank-no2 {
    color: #f2a118;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.rank-warning {
    color: #555;
    font-size: 0.8rem;
}

.rank-note {
    color: #7e7e7e;
    font-size: 0.8rem;
}

/* 期間限定 */
.campaign-limited {
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .campaign-limited {
    flex-direction: row;
}
}

.campaign-limited-title {
    font-size: 1.2rem;
    color: #f11f8d;
    font-weight: bold;
}

/* 白色ボタン */
.campaign-btn {
    display: inline-block;
    background-color: #fff;
    color: #f11f8d;
    padding: 0.6rem 0rem 0.8rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.15rem solid #f11f8d;
    margin-top: 0.3rem;
    min-width: 19.9rem;
}

.campaign-btn i {
    right: 3rem;
    bottom: -7.5rem;
}

/* コース案内
------------------------------------------ */
.course {
    background-color: #fff;
}

.course .container {
    padding-top: 4.2rem;
}

@media (min-width: 768px) {
    .course .container {
        padding: 5.15rem 0 5.7rem;
    }
}

.course .section-title {
    margin-bottom: 1.35rem;
}

@media (min-width: 768px) {
    .course .section-title {
        margin-bottom: 1.85rem;
    }
}

/* タブ */
.st-theme-basic {
    border: none;
    margin: 0 1.1rem;
}

@media (min-width: 768px) {
    .st-theme-basic {
            border: none;
            margin: 0 1rem;
    }
}

/* タブナビゲーション */
.tab.st > .nav {
    column-gap: 0.25rem;
    flex-direction: row !important;
}

.tab.st-theme-basic > .nav {
    box-shadow: none;
}

.tab.st-theme-basic > .nav .nav-link {
    padding-top: 1.35rem;
    padding-bottom: 1.55rem;
    line-height: 1;
    background-color: #d8d8d8;
    color: #333;
    border-radius: 0.6rem 0.6rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .nav .nav-link {
        padding-top: 1.45rem;
        padding-bottom: 1.5rem;
        font-size: 1.25rem;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic > .nav .nav-link.active {
    color: #fff !important;
    background-color: #f2a118;
}

.tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ*/
.tab-content {
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    border: solid 0.9rem #ffedcc;
    height: auto !important;
}

@media (min-width: 768px) {
    .tab-content {
        text-align: center;
        border-radius: 0 0 1.25rem 1.25rem;
        background-color: #fff;
        border: solid 0.8rem #ffedcc;
        height: auto !important;
    }
}

.tab.st-theme-basic > .tab-content > .tab-pane {
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 1.55rem 1.55rem 0.85rem 1.55rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .tab-content > .tab-pane {
        justify-content: space-between;
        flex-direction: row;
        padding: 3.75ren 2.25rem;
    }
}

/* 画像 */
.course-tab-content-item {
    margin-bottom: 0.5rem;
}

.course-img {
    border-radius: 0.4rem;
}


/* タイトル */
.course-tab-content-title {
    margin-top: .15rem;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
    .course-tab-content-title {
        margin-top: .5rem;
        font-size: 1.15rem;
    }
}

/* コメント */
.course-tab-content-text {
    font-size: 1rem;
    letter-spacing: 0.01rem;
}

/* 3つの特徴セクションのデザイン例
---------------------------------- */
.features {
    padding: 4.2rem 1rem 0.9rem;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px) {
    .features-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.feature-item {
    flex: 1 1 300px;
    max-width: 360px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
}

@media (min-width: 768px) {
    .feature-item:nth-child(1) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }
    
    .feature-item:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    .feature-item:nth-child(3) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }
}

.feature-image {
    width: 100%;
    display: block;
    border-radius: 0.4rem;
}

@media (min-width: 768px) {
    .feature-image {
        width: 50%;
        height: auto;
        border-radius: 0.4rem;
    }
}

.feature-text {
    margin-bottom: 0.9rem;
    /* padding: 1rem; */
}

@media (min-width: 768px) {
    .feature-text {
        flex: 1;
        text-align: left;
    }
}

.feature-number {
    font-size: 3.6rem;
    color: #46c017;
    font-family: 'Poppins';
    font-style: italic;
    text-align: left;
    line-height: 1;
    margin-top: 0.7rem;
}

.feature-description {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
}

/* お問い合わせ2
------------------------------------------ */
.time-free-section {
    background-color: #f2f8fe;
    text-align: center;
    padding: 0.6rem 1rem; 
    height: 10.9rem;
}

.time-free-text {
    margin: 0 0 2.1rem;
    font-size: 1rem;
    line-height: 1.7;
    color: #333;
}

/* ピンクボタン */
.time-free-cta {
    text-align: center;
}

/* 講師紹介
------------------------------------------ */
.teacher-introduction {
    padding: 2.6rem 1rem;
    text-align: center;
    background-color: #fff;
}

@media (min-width: 768px) {
    .teacher-introduction {
        padding: 3rem 1rem;
        text-align: center;
        background-color: #fff;
    }
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* コンテナ */
.teacher-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .teacher-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

  /* 各講師カード */
.teacher-card {
    background-color: #ffece5;
    padding: 0.9rem 0.9rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 1.5rem;
}

@media (min-width: 768px) {
    .teacher-card {
        max-width: 280px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1.5rem;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.teacher-card:nth-child(2) {
    background-color: #fff7e6;
}

@media (min-width: 768px) {
    .teacher-card:nth-child(2) {
        background-color: #fff7e6;
    }
}

/* 画像 */
.teacher-image {
    width: 8.15rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .teacher-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
}

/* テキスト情報 */
.teacher-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
}

.teacher-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.04rem;
}

@media(minw-width: 768px) {
    .teacher-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

.teacher-experience {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.6rem;
    margin-top: 0.2rem;
}

@media(minw-width: 768px) {
    .teacher-experience {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 1rem;
    }
}

.teacher-description {
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.1rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .teacher-description {
        font-size: 0.9rem;
        line-height: 1.6;
        color: #333;
    }
    
}

/* お問い合わせ3
------------------------------------------ */
.time-free-section {
    background-color: #f2f8fe;
    text-align: center;
    padding: 0.6rem 1rem;
    height: 11.9rem;
}

.time-free-inner {
    text-align: center;
}

.time-free-text {
    margin: 1rem 0 2rem;
    font-size: 1rem;
    line-height: 1.7;
    color: #333;
}

/* ピンクボタン */
.time-free-cta {
    text-align: center;
}

/* 料金プラン
------------------------------------------ */
.pricing {
    padding: 2rem 1rem;
    background-color: #fff;
    text-align: center;
}

@media (min-width: 768px) {
    .pricing {
        padding: 3rem 0;
    }
    
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* テーブル */
.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    border: 4px solid #ddd;
}

@media (min-width: 768px) {
    .pricing-table {
        width: 60%;
        margin: 1.5rem auto;
        border-collapse: collapse;
        font-size: 0.85rem;
        border: 1px solid #ddd;
    }
    
}

.pricing-table caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    text-align: left;
}

@media (min-width: 768px) {
.pricing-table caption {
    text-align: center;
    }
}

.pricing-table th,
.pricing-table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .pricing-table th, .pricing-table td {
        padding: 0.5rem;
        text-align: center;
    }
}

.pricing-table th {
    background-color: #f7f7f7;
    font-weight: bold;
}

@media (min-width: 768px) {
    .pricing-table th {
        background-color: #f7f7f7;
        font-weight: bold;
    }
}

.pricing-table td p {
    margin: 0 0 0.3rem;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
}

.pricing-table .course-name {
    min-width: 120px;
    text-align: center;
    font-weight: bold;
    color: #0079f2;
    font-size: 1.1rem;
}

.pricing-table .price {
    font-size: 1.5rem;
    color: #46c017;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Poppins';
}

.pricing-table .table-note {
    font-size: 0.7rem !important;
}

/* faq
------------------------------------------ */
/* アコーディオン全体のスタイル */
.faq-container {
    margin: 2rem auto;
    max-width: 800px;
    font-family: 'Noto Sans JP', sans-serif;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.accordion {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 95%;
    margin: auto;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s;
}

.accordion-title:hover {
    background-color: #ffefd5;
}

.accordion-title .accordion-icon {
    font-size: 1.2rem;
    color: #ee7800;
    transition: transform 0.3s ease;
}

.accordion-title[aria-expanded="true"] .accordion-icon {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: #fff;
    color: #555;
}

.accordion-content.active {
    display: flex;
    background-color: #ffeee5;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    justify-content: space-between;
}

.q-badge {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffa787;
    color: #e68332;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin-right: 0.5rem;
    font-family: sans-serif;
}

.a-badge {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffa787;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    margin-right: 0.5rem;
    font-family: sans-serif;
}
/* フッター
------------------------------------------ */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-witdth: 768px) {
    .footer {
        padding: 3rem 2rem;
        background-color: #000;
        color: #fff;
    }
}

/* SNSアイコン */
.footer-top {
    background-color: #000;
}

@media (min-width: 768px) {
    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    height: 127px;
}

.social-icon {
    color: #fff;
    font-size: 2rem;
    margin: 2.3rem 0 1rem;
}

/* 中央ロゴ */
footer {
    background-color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

@media (min-width: 768px) {
    .footer {
        padding:3rem 2rem;
        background-color: #000;
        color: #fff;
    }
}

/* ロゴ部分 */
.footer-logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0079f2;
    margin-bottom: -0.5rem;
}

.footer-subtitle {
    font-size: 0.8rem;
    color: #0079f2;
    margin-bottom: 1.4rem;
}

/* 著作権表示部分 */
.footer-bottom {
    font-size: 0.675rem;
    color: #b0b0b0;
    font-weight: bold;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .footer-bottom {
        text-align: center;
        margin-top: 2rem;
    }
}